.cart {
    margin: 50px 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--accent);
    border-radius: 10px;
}
.cart h2 {
    margin-bottom: 20px;
}
.cart-items {
    list-style: none;
    padding: 0;
}
.cart-seperator{
    width: 100%;
    text-align: center;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.cart-item:last-child {
    border-bottom: 1px solid #e1e1e1;
}
.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-description{
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}
.item-info img {
    width: 50px;
    margin-right: 20px;
}
.item-price, .item-quantity, .item-total {
    text-align: center;
}
.item-quantity input {
    width: 50px;
    padding: 5px;
    text-align: center;
}
.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.cart-total h3 {
    margin: 0;
    margin-right: 20px;
}
.checkout-btn {
    background: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.checkout-btn:hover {
    background: #4cae4c;
}